.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.accountTitle {
  text-align: left;
  width: 100%;
  padding: 1rem;
  letter-spacing: 5px;
  font-size: 2rem;
}

.content {
  display: flex;
  width: 80%;
  max-width: 1000px;
  gap: 20px;
}

.leftSection {
  flex: 2;
  padding: 20px;
  border-radius: 10px;
}

.rightSection {
  flex: 1;
  display: flex;
  justify-content: center;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  margin-bottom: 30px;
}

.editAvatarButton {
  background-color: #285d9a;
}

.infoGrid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.label {
  font-weight: bold;
  color: #555;
  flex: 1;
}

.info {
  color: #333;
  flex: 2;
}

.editProfileButtonEditing {
  background-color: #d45b13;
  color: white;
  margin-top: 20px;
  width: 180px;
  height: 40px;
}

.editProfileButtonNotEditing {
  background-color: #285d9a;
  color: white;
  margin-top: 20px;
  width: 180px;
  height: 40px;
}

.editProfileButton {
  background-color: #285d9a;
  margin-top: 20px;
  width: 180px;
  height: 40px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .rightSection {
    order: -1;
  }

  .leftSection {
    width: 90%;
  }

  .infoRow {
    flex-direction: column;
  }
}
