.header {
  background-color: #474d57;
  color: white;
  border-top: 2px white solid;
  padding: 20px 20px;
  margin: 5px 0;
}

.project-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px white solid;
}

.trainee-table-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 10px;
}
.project-detail-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 5px 10px;
  width: 300px;
}
.search-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 16px;
}
.search-button {
  color: white;
  background-color: #474d57;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 10px 7px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
}
.add-trainee-button {
  color: white;
  background-color: #474d57;
  padding: 10px 7px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  cursor: pointer;
}

.export-button {
  color: white;
  background-color: #d45b13;
  padding: 10px 7px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
}
