.header {
  background-color: #474d57;
  color: white;
  border-top: 2px white solid;
  padding: 20px 20px;
  margin: 5px 0;
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 1px white solid;
}

.material-table-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 20px;
}

.material-standard {
  border: 1px solid transparent;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.material-title {
  letter-spacing: 5px;
  font-size: 2rem;
}

.project-detail-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 5px 10px;
  width: 300px;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 16px;
}

.search-button {
  color: white;
  background-color: #474d57;
  padding: 10px 7px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
  cursor: pointer;
}

.custom-file-upload {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: darkblue;
}

@media (max-width: 768px) {
  .material-table-container {
    align-items: center;
    padding: 10px;}

  .project-title {
    font-size: 20px;
    /* Smaller title on mobile */
  }

  .material-title {
    font-size: 1.5rem;
    text-align: center;
    /* Smaller title on mobile */
  }

  .search-box {
    width: 100%;
    /* Full width on mobile */
  }

  .search-button {
    display: none;
  }

  .material-table-container {
    padding: 10px;
    /* Less padding on mobile */
  }
}