.report-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
}

.report-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.report-logo {
  font-size: 24px;
  font-weight: bold;
}
.report-slogan {
  font-size: 16px;
  font-weight: 600;
}
.report-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.report-title-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}
.report-title-subtext {
  font-size: 16px;
  font-weight: 500;
}
.report-content {
  align-self: flex-start;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.report-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.signature-container {
  align-self: flex-end;
}

.infoRow {
  display: flex;
  align-items: flex-start; /* Căn label và input lên đầu */
  gap: 20px; /* Tăng khoảng cách giữa label và input */
  width: 100%;
}

.label {
  width: 150px; /* Độ rộng cố định cho label */
  font-weight: bold;
  text-align: left;
  flex-shrink: 0; /* Đảm bảo label không bị co lại */
}

.info {
  flex: 1; /* Cho phép input mở rộng */
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  min-height: 150px; /* Tăng chiều cao */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.textareaNotEditing {
  width: 100%;
  border-radius: 4px;
  resize: vertical;
  word-wrap: break-word; /* Đảm bảo xuống dòng khi nội dung quá dài */
  overflow-wrap: break-word; /* Đảm bảo xuống dòng khi có từ quá dài */
  white-space: pre-wrap; /* Giữ nguyên định dạng xuống dòng */
}
.scoreTableNotEditing {
  color: #4d7ecf;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
}
.scoreTableNotEditing:hover {
  text-decoration: 1px underline #4d7ecf;
}

.signature-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.signature-date {
  font-style: italic;
}

.signature-name {
  font-weight: bold;
}

.report-buttons {
  align-self: flex-end;
  display: flex;
  gap: 10px;
}
.editProfileButtonEditing {
  background-color: #d45b13;
  color: white;
  margin-top: 20px;
  width: 180px;
  height: 40px;
}
.editProfileButtonEditing:hover {
  background-color: #ff7f00;
}

.editProfileButtonNotEditing {
  background-color: #285d9a;
  color: white;
  margin-top: 20px;
  width: 180px;
  height: 40px;
}
.editProfileButtonNotEditing:hover {
  background-color: #4d7ecf;
}

.saveButton {
  background-color: #2f903f;
  color: white;
  margin-top: 20px;
  width: 180px;
  height: 40px;
}
.saveButton:hover {
  background-color: #00b300;
}
