.create-project-button {
  color: white;
  background-color: #474d57;
  padding: 10px 7px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  width: 100px;
  cursor: pointer;
}
.create-project-button:hover {
  background-color: #8e8f92;
}

.create-project-form {
  margin-top: 10px;
}

.cancel-button {
  margin-right: 5px;
  color: #d45b13;
  background-color: transparent;
  padding: 10px 7px;
  border: 1px solid #d45b13;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}
.cancel-button:hover {
  background-color: #d45b13;
  color: white;
}

.create-button {
  color: white;
  background-color: #2f903f;
  padding: 10px 7px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}
.create-button:hover {
  background-color: #00b300;
}
