@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Pacifico&display=swap");

.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 1.5rem;
}
.greeting-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.greeting {
  font-size: 1.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.greeting-name {
  font-size: 1.75rem;
  color: #f37021;
  font-style: italic;
  font-family: "Pacifico", "Dancing Script", cursive; /* Ưu tiên Pacifico, fallback Dancing Script */
}
.current-time {
  font-size: 14px;
  color: rgb(191, 190, 190);
}
.collapse-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.collapse-title {
  font-size: 24px;
  font-weight: 600;
}
