* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand" !important;
}

body {
  margin: 0;
  font-family:
    Quicksand,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen";
}

@tailwind base;
@tailwind components;
@tailwind utilities;
